@font-face{
    font-family: 'font1';
    src: url('UCity-Regular.ttf');
}@font-face{
    font-family: 'font2';
    src: url('glossydisplaycondensedlight.otf')
}
*{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html, body{
    margin: 0;
    font-family: 'font1', Helvetica, Arial, sans-serif;
    color: #585858;
    letter-spacing: 0.01em;
}

.letter{
    display: inline-block;
}