@font-face{
    font-family: 'font1';
    src: url('gc16 Mono.otf')
}@font-face{
    font-family: 'font2';
    src: url('glossydisplaycondensedlight.otf')
}
*{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html, body{
    margin: 0;
}