@font-face{
    font-family: 'font1';
    src: url('BB Studio Pro Text.otf');
}@font-face{
    font-family: 'font2';
    src: url('glossydisplaycondensedlight.otf')
}
*{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html, body{
    margin: 0;
}

.letter{
    display: inline-block;
}